<div class="main">
 <div class="login-form">
   <h1>User Login</h1>
       <div class="head">
         <img src="assets/images/user.png" alt=""/>
       </div>
     <form #form="ngForm" novalidate>
         <small *ngIf = "(!emailfield.valid && submitted)" class="text-danger">Please enter valid email address.</small>
         <input type="text" class="text"  placeholder="Email" [(ngModel)]="user.email" #emailfield="ngModel" name="emailfield"  pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required>
         <small *ngIf = "(!passwordfield.valid && submitted)" class="text-danger">Please enter valid password.</small>
         <input type="password" class=""   placeholder="Password" [(ngModel)]="user.password" #passwordfield="ngModel" name="passwordfield" required>
         <div class="submit">
           <button type="button" class="btn btn-primary login-btn" (click)="userLogin(form.value, form.valid)">Login</button>
       </div>
       <p><a href="">Forgot Password ?</a></p>
     </form>
   </div>
 </div>
